@charset "URF-8";

#wrapper {width:100%;height:700px;background:#9ee;}

#wrapper #header {z-index:3;position:relative;width:100%;height:100px;background:#c99;}
#wrapper #header .wrap {width:1200px;height:100%;margin:0 auto;background:#eea;}
#wrapper #header .wrap .content {width:100%;height:100%;background:#eee;}
#wrapper #header .wrap .content .left-box {float:left;width:200px;height:100%;background:#fcc;}
#wrapper #header .wrap .content .right-box {float:left;width:1000px;height:100%;background:#ccf;text-align:right;}

#wrapper #header .wrap .content .right-box #nav {height:50px;margin:25px 25px 25px 0;}
#wrapper #header .wrap .content .right-box #nav > ul {display:inline-block;}
#wrapper #header .wrap .content .right-box #nav > ul > li {float:left;width:180px;height:100%;}
#wrapper #header .wrap .content .right-box #nav > ul > li > a {display:block;width:100%;background:#fff;color:#000;font-size:15px;font-weight:600;text-align:center;line-height:50px;transition:all .3s;}
#wrapper #header .wrap .content .right-box #nav > ul > li > a:hover {background:#fcc;color:#fff;}

#wrapper #header .wrap .content .right-box #nav > ul > li .sub {text-align:center;width:100%;display:none;}
#wrapper #header .wrap .content .right-box #nav:hover > ul > li .sub {display:block;}
#wrapper #header .wrap .content .right-box #nav > ul > li .sub ul {display:block;}
#wrapper #header .wrap .content .right-box #nav > ul > li .sub ul li {width:100%;}
#wrapper #header .wrap .content .right-box #nav > ul > li .sub ul li a {display:block;background:#f6f6f6;line-height:45px;}
#wrapper #header .wrap .content .right-box #nav > ul > li .sub ul li a:hover {background:#fcc;color:#fff;}

#wrapper #main {z-index:2;position:relative;width:1200px;height:500px;margin:0 auto;background:#cc9}
#wrapper #main #section1 {width:100%;height:300px;background:#aae;}

/* 메인슬라이드 */
#wrapper #main #section1 .slide-container {position:relative;width:100%;height:300px;}
#wrapper #main #section1 .slide-container .slide-view  {z-index:1;position:relative;width:100%;height:300px;overflow:hidden;}
#wrapper #main #section1 .slide-container .slide-view .slide-wrap {position:relative;left:0;width:4800px;height:300px;transition:all .6s ease-in-out;}
#wrapper #main #section1 .slide-container .slide-view .slide-wrap .slide {float:left;width:1200px;height:300px;}
#wrapper #main #section1 .slide-container .slide-view .slide-wrap .slide0 {background:url(../img/pasta-1181189_1920.jpg) no-repeat 50% 50%;background-size:cover;}
#wrapper #main #section1 .slide-container .slide-view .slide-wrap .slide1 {background:url(../img/raspberries-5576401_1920.jpg) no-repeat 50% 50%;background-size:cover;}
#wrapper #main #section1 .slide-container .slide-view .slide-wrap .slide2 {background:url(../img/raspberry-2023404_1920.jpg) no-repeat 50% 50%;background-size:cover;}
#wrapper #main #section1 .slide-container .slide-view .slide-wrap .slide3 {background:url(../img/waffles-5192625_1920.jpg) no-repeat 50% 50%;background-size:cover;}

/* 다음 슬라이드 버튼 */
#wrapper #main  #section1 .slide-container .next-btn-wrap {z-index:2;position:absolute;top:50%;margin-top:-30px;right:50px;width:60px;height:60px;transform:rotate(45deg);border-top:2px solid #fff;border-right:2px solid#fff;}
#wrapper #main  #section1 .slide-container .next-btn-wrap a {display:block;width:100%;height:100%;}

/* 이전 슬라이드 버튼 */
#wrapper #main  #section1 .slide-container .prev-btn-wrap {z-index:2;position:absolute;top:50%;margin-top:-30px;left:50px;width:60px;height:60px;transform:rotate(-135deg);border-top:2px solid #fff;border-right:2px solid#fff;}
#wrapper #main  #section1 .slide-container .prev-btn-wrap a {display:block;width:100%;height:100%;}

#wrapper #main #section2 {width:100%;height:200px;background:#aea;}
#wrapper #main #section2 .content {width:100%;height:100%;}
#wrapper #main #section2 .content .left-box {float:left;width:33.333%;height:100%;background:#eff;cursor:pointer;}

/* 섹션2슬라이드 */
#wrapper #main #section2 .content .left-box .slide-container {position:relative;width:100%;height:100%;}
#wrapper #main #section2 .content .left-box .slide-container .slide-view {z-index:1;position:relative;width:100%;height:100%;overflow:hidden;/* 보이게 하는건 visible */}
#wrapper #main #section2 .content .left-box .slide-container .slide-view .slide-wrap {position:relative;left:0;width:1600px;height:200px;transition:all .6s ease-in-out;}
#wrapper #main #section2 .content .left-box .slide-container .slide-view .slide-wrap .slide {float:left;width:400px;height:200px;}
#wrapper #main #section2 .content .left-box .slide-container .slide-view .slide-wrap .slide1 {background:url(../img/blog-post-img5.jpg)no-repeat 50% 50%;background-size:cover;}
#wrapper #main #section2 .content .left-box .slide-container .slide-view .slide-wrap .slide2 {background:url(../img/blog-post-img4.jpg)no-repeat 50% 50%;background-size:cover;}
#wrapper #main #section2 .content .left-box .slide-container .slide-view .slide-wrap .slide3 {background:url(../img/blog-post-img6.jpg)no-repeat 50% 50%;background-size:cover;}
#wrapper #main #section2 .content .left-box .slide-container .slide-view .slide-wrap .slide4 {background:url(../img/blog-post-img7.jpg)no-repeat 50% 50%;background-size:cover;}
 
/* 다음버튼 */
#wrapper #main #section2 .content .left-box .slide-container .next-btn-wrap {z-index:2;position:absolute;top:50%;margin-top:-20px;right:10px;width:40px;height:40px;background:transparent;border-top:2px solid #fff;border-right:2px solid #fff;transform:rotate(45deg);}
#wrapper #main #section2 .content .left-box .slide-container .next-btn-wrap a {display:block;width:100%;height:100%;background:transparent;}

/* 이전버튼 */
#wrapper #main #section2 .content .left-box .slide-container .prev-btn-wrap {z-index:2;position:absolute;top:50%;margin-top:-20px;left:10px;width:40px;height:40px;background:transparent;border-top:2px solid #fff;border-left:2px solid #fff;transform:rotate(-45deg);}
#wrapper #main #section2 .content .left-box .slide-container .prev-btn-wrap a {display:block;width:100%;height:100%;background:transparent;}


/* 섹션2슬라이드 */
#wrapper #main #section2 .content .center-box {float:left;width:33.333%;height:200px;background:#eef;text-align:center;}
#wrapper #main #section2 .content .center-box .slide-container {position:relative;width:100%;height:100%;}
#wrapper #main #section2 .content .center-box .slide-container .slide-view {z-index:1;position:relative;width:100%;height:100%;overflow:hidden;}
#wrapper #main #section2 .content .center-box .slide-container .slide-view .slide-wrap {position:relative;top:0;width:100%;height:600px;transition:all .6s ease-in-out;}
#wrapper #main #section2 .content .center-box .slide-container .slide-view .slide-wrap .slide {width:100%;height:200px;}
#wrapper #main #section2 .content .center-box .slide-container .slide-view .slide-wrap .slide1 {background:url(../img/restaurant-img30.jpg) no-repeat 50% 50%;background-size:cover;}
#wrapper #main #section2 .content .center-box .slide-container .slide-view .slide-wrap .slide2 {background:url(../img/restaurant-img31.jpg) no-repeat 50% 50%;background-size:cover;}
#wrapper #main #section2 .content .center-box .slide-container .slide-view .slide-wrap .slide3 {background:url(../img/restaurant-img32.jpg) no-repeat 50% 50%;background-size:cover;}
/* 다음버튼 */
#wrapper #main #section2 .content .center-box .slide-container .prev-btn-wrap {z-index:2;display:block;position:absolute;top:20px;left:50%;margin-left:-20px;width:40px;height:40px;border-top:2px solid #fff;border-left:2px solid #fff;transform:rotate(45deg);}
#wrapper #main #section2 .content .center-box .slide-container .prev-btn-wrap a {display:block;width:100%;height:100%;}
/* 이전버튼 */
#wrapper #main #section2 .content .center-box .slide-container .next-btn-wrap  {z-index:2;display:block;position:absolute;bottom:20px;left:50%;margin-left:-20px;width:40px;height:40px;border-bottom:2px solid #fff;border-right:2px solid #fff;transform:rotate(45deg);}
#wrapper #main #section2 .content .center-box .slide-container .next-btn-wrap a {display:block;width:100%;height:100%;}

/* 섹션2슬라이드 */
#wrapper #main #section2 .content .right-box  {float:left;width:33.333%;height:200px;background:#ffe;cursor:pointer;}
#wrapper #main #section2 .content .right-box .slide-container {position:relative;width:100%;height:100%;}
#wrapper #main #section2 .content .right-box .slide-container .slide-view {z-index:1;position:relative;width:100%;height:100%;overflow:hidden;/* 보이게 하는건 visible */}
#wrapper #main #section2 .content .right-box .slide-container .slide-view .slide-wrap {position:relative;left:0;width:1600px;height:200px;transition:all .6s ease-in-out;}
#wrapper #main #section2 .content .right-box .slide-container .slide-view .slide-wrap .slide {float:left;width:400px;height:200px;}
#wrapper #main #section2 .content .right-box .slide-container .slide-view .slide-wrap .slide1 {background:url(../img/restaurant-img27.jpg)no-repeat 50% 50%;background-size:cover;}
#wrapper #main #section2 .content .right-box .slide-container .slide-view .slide-wrap .slide2 {background:url(../img/restaurant-img28.jpg)no-repeat 50% 50%;background-size:cover;}
#wrapper #main #section2 .content .right-box .slide-container .slide-view .slide-wrap .slide3 {background:url(../img/restaurant-img29.jpg)no-repeat 50% 50%;background-size:cover;}
#wrapper #main #section2 .content .right-box .slide-container .slide-view .slide-wrap .slide4 {background:url(../img/restaurant-img25.jpg)no-repeat 50% 50%;background-size:cover;}
 
/* 다음버튼 */
#wrapper #main #section2 .content .right-box .slide-container .next-btn-wrap {z-index:2;position:absolute;top:50%;margin-top:-20px;right:10px;width:40px;height:40px;background:transparent;border-top:2px solid #fff;border-right:2px solid #fff;transform:rotate(45deg);}
#wrapper #main #section2 .content .right-box .slide-container .next-btn-wrap a {display:block;width:100%;height:100%;background:transparent;}

/* 이전버튼 */
#wrapper #main #section2 .content .right-box .slide-container .prev-btn-wrap {z-index:2;position:absolute;top:50%;margin-top:-20px;left:10px;width:40px;height:40px;background:transparent;border-top:2px solid #fff;border-left:2px solid #fff;transform:rotate(-45deg);}
#wrapper #main #section2 .content .right-box .slide-container .prev-btn-wrap a {display:block;width:100%;height:100%;background:transparent;}

#wrapper #footer {z-index:1;position:relative;width:100%;height:100px;background:#c99;}
#wrapper #footer .wrap {width:1200px;height:100%;background:#eea;margin:0 auto;}
#wrapper #footer .wrap .content {width:100%;height:100%;}
#wrapper #footer .wrap .content .left-box {float:left;width:200px;height:100%;background:#ddd;}
#wrapper #footer .wrap .content .right-box {float:left;width:1000px;height:100%;background:#ccc;}
#wrapper #footer .wrap .content .right-box .top-box {width:100%;height:50%;background:#ff0;}
#wrapper #footer .wrap .content .right-box .bottom-box {width:100%;height:50%;background:#ccd;}
